# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Node
node_modules
npm-debug.log
yarn-error.log

# Environment
.env
.env.backup
.env.production

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/*.key
/vendor
/public/hot
/public/storage

# Testing
tests
phpunit.xml
.phpunit.result.cache

# Documentation
README.md
